<div class="row">
<div class="col-sm-6">
<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div class="alert alert-warning">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>
      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :id, "ID" %>
    <input type="text" value="<%= @device.id.present? ? @device.id : "(自動割当)" %>" class="form-control" disabled="disabled"/>
    <%= f.hidden_field :id %>
  </div>
  <div class="form-group">
    <%= f.label :name, t("activerecord.attributes.device.name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :device_type, t("activerecord.attributes.device.device_type") %>
    <%= f.text_field :device_type, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :temp_min, t("activerecord.attributes.device.temp_min") %>
    <%= f.text_field :temp_min, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :temp_max, t("activerecord.attributes.device.temp_max") %>
    <%= f.text_field :temp_max, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :token4sakura, t("activerecord.attributes.device.token4sakura") %>
    <%= f.text_field :token4sakura, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city_id, t("activerecord.attributes.device.city_id") %>
    <%= f.select :city_id, options_for_select(Mukoyama::CITY_IDS, @device.city_id), {include_blank: true}, {class: "form-control"} %>
    <small>天気データの参照に使用する地域です。なるべく近いと思われる場所を選んでください。</small>
  </div>
  <div class="form-group">
    <%= f.label :picture, t("activerecord.attributes.device.picture") %>
    <%= f.file_field :picture, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :custom_msg_over, t("activerecord.attributes.device.custom_msg_over") %>
    <%= f.text_area :custom_msg_over, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :custom_msg_under, t("activerecord.attributes.device.custom_msg_under") %>
    <%= f.text_area :custom_msg_under, class: "form-control" %>
  </div>

  <%= f.submit "保存する", class: "btn btn-primary" %>
<% end %>
</div>
</div>
<hr/>
