<div class="row">
<div class="col-sm-6">
<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div class="alert alert-warning">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>
      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :device_id, "ID" %>
    <input type="text" value="<%= @setting.id.present? ? @setting.id : "*(自動割当)" %>" class="form-control" disabled="disabled"/>
    <%= f.hidden_field :device_id %>
  </div>
  <div class="form-group">
    <%= f.label :name, t("activerecord.attributes.setting.name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :temp_min, t("activerecord.attributes.setting.temp_min") %>
    <%= f.text_field :temp_min, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :temp_max, t("activerecord.attributes.setting.temp_max") %>
    <%= f.text_field :temp_max, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.fields_for :sakura_iot_modules do |sim| %>
      <%= sim.label :token, t("activerecord.attributes.setting.token4sakura") %>
      <%= sim.text_field :token, class: "form-control" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :city_id, t("activerecord.attributes.setting.city_id") %>
    <%= f.select :city_id, options_for_select(city_list.collect { |u| [u["name_jp"].present? ? u["name_jp"] : u["name"], u["id"]] }, @setting.city_id), {include_blank: true}, {class: "form-control"} %>
  </div>
  <%= f.submit "保存する", class: "btn btn-primary" %>
<% end %>
</div>
</div>
<hr/>
