
<% content_for :title, "デバイスの設定" %>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
  <tr>
    <th>ID</th>
    <td><%= @device.id %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.name") %></th>
    <td><%= @device.name %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.temp_min") %></th>
    <td><%= @device.temp_min %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.temp_max") %></th>
    <td><%= @device.temp_max %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.token4write") %></th>
    <td><div class="well well-sm"><%= @device.token4write %></div>
    </td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.token4read") %></th>
    <td><div class="well well-sm"><%= @device.token4read %></div>
      <script>
      function generate_token4read(){
        $.get(location.pathname+"/publish",function(d){
          location.reload();
        });
      }
      function delete_token4read(){
        $.get(location.pathname+"/unpublish",function(d){
          location.reload();
        });
      }
      </script>
      <% if @device.readable? %>
        <button class="btn btn-success btn-xs" onclick="generate_token4read();">再生成</button>
        <button class="btn btn-danger btn-xs" onclick="delete_token4read();">削除</button>
      <% else %>
        <button class="btn btn-success btn-xs" onclick="generate_token4read();">生成</button>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.token4sakura") %></th>
    <td><div class="well well-sm"><%= @device.token4sakura %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.city_id") %></th>
    <td><div class="well well-sm"><%= @device.city_id %> <%= @device.city_name %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.created_at") %></th>
    <td><%= @device.created_at %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.updated_at") %></th>
    <td><%= @device.updated_at %></td>
  </tr>
    </table>
  </div>
  <div class="col-sm-6">
    <%= image_tag device_picture_path(@device.id), alt: "", class: "img-responsive img-thumbnail" %>
    <br/><br/>
    <p>
    <%= link_to t('edit'), edit_device_path(@device), class: "btn btn-default" %>
    <%= link_to t('back'), devices_path, class: "btn btn-default" %>
    </p>
  </div>
</div>
<h2>APIのテスト</h2>
<p>温度、湿度、気圧、照度、電圧を送信します。</p>
<pre>
curl "<%= request.protocol + request.host + ":" + request.port.to_s %>/temps/upload?id=<%= @device.id %>&amp;token=<%= @device.token4write %>&amp;dt=<%= DateTime.now.to_s %>&amp;temperature=12.3&amp;pressure=123.4&amp;humidity=12.3&amp;illuminance=123.4&amp;voltage=1.23"
</pre>
<p>画像データを送信します。カレントディレクトリにphoto.jpgというファイルが存在する状態を想定しています。</p>
<pre>
curl -X POST -F file=@./photo.jpg "<%= request.protocol + request.host + ":" + request.port.to_s %>/pictures/upload?id=<%= @device.id %>&amp;token=<%= @device.token4write %>&amp;dt=<%= DateTime.now.to_s %>&amp;detected=true"
</pre>

<h2>設定のスニペット</h2>
<p>デバイス側の設定時に利用される変数の設定例です。設定全体の流れは「<%= link_to '参加方法', howto_path %>」を参照してください。</p>
<h3>Raspberry Pi</h3>
<p></p>
<figure>
<figcaption>For shell script</figcaption>
<pre>
export MUKOYAMA_URL=<%= baseurl %>
export MUKOYAMA_ID=<%= @device.id %>
export MUKOYAMA_TOKEN=<%= @device.token4write %>
</pre>
</figure>

<figure>
<figcaption>For crontab</figcaption>
<pre>
MUKOYAMA_URL=<%= baseurl %>
MUKOYAMA_ID=<%= @device.id %>
MUKOYAMA_TOKEN=<%= @device.token4write %>
*/10 * * * * python $HOME/bin/mukoyama_bme280.py 2>&amp;1 | logger -p cron.info -t "mukoyama"
*    * * * * ruby $HOME/bin/mukoyama_camera.rb 2>&amp;1 | logger -p cron.info -t "mukoyama"
</pre>
</figure>
<p>Raspbianではloggerの出力は <code>/var/log/syslog</code> に記録されます。</p>
<h3>ESP8266</h3>
<figure>
<figcaption>For .ino</figcaption>
<pre>
const char* host = "<%= request.host %>";
const int httpsPort = <%= request.port.to_s %>;
const char* mukoyama_id    = "<%= @device.id %>";
const char* mukoyama_token = "<%= @device.token4write %>";
</pre>
</figure>
