
<% content_for :title, "デバイスの設定" %>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
  <tr>
    <th>ID</th>
    <td><%= @device.id %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.name") %></th>
    <td><%= @device.name %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.temp_min") %></th>
    <td><%= @device.temp_min %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.temp_max") %></th>
    <td><%= @device.temp_max %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.token4write") %></th>
    <td><div class="well well-sm"><%= @device.token4write %></div>
    </td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.token4read") %></th>
    <td><div class="well well-sm"><%= @device.token4read %></div>
      <script>
      function generate_token4read(){
        $.get(location.pathname+"/publish",function(d){
          location.reload();
        });
      }
      function delete_token4read(){
        $.get(location.pathname+"/unpublish",function(d){
          location.reload();
        });
      }
      </script>
      <% if @device.readable? %>
        <button class="btn btn-success btn-xs" onclick="generate_token4read();">再生成</button>
        <button class="btn btn-danger btn-xs" onclick="delete_token4read();">削除</button>
      <% else %>
        <button class="btn btn-success btn-xs" onclick="generate_token4read();">生成</button>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.token4sakura") %></th>
    <td><div class="well well-sm"><%= @device.token4sakura %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.city_id") %></th>
    <td><%= @device.city_id %> <%= Mukoyama::CITY_IDS.invert[@device.city_id] %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.created_at") %></th>
    <td><%= @device.created_at %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.device.updated_at") %></th>
    <td><%= @device.updated_at %></td>
  </tr>
    </table>
  </div>
  <div class="col-sm-6">
    <%= image_tag device_picture_path(@device.id), alt: "", class: "img-responsive img-thumbnail" %>
    <br/><br/>
    <p>
    <%= link_to '<span class="glyphicon glyphicon-cloud-download"></span> 温湿度'.html_safe, temps_download_path(format: :csv, device_id: @device.id), class: "btn btn-success" %>
    <%= link_to '<span class="glyphicon glyphicon-cloud-download"></span> 写真'.html_safe, "#",id: "download-pictures", class: "btn btn-success", disabled: "disabled" %>
    <%= button_tag '<span class="glyphicon glyphicon-trash"></span> 全件削除'.html_safe, class: "btn btn-danger", data: {toggle: "modal", target: "#myModal"} %>
    <%= link_to t('edit'), edit_device_path(@device), class: "btn btn-default" %>
    <%= link_to t('back'), devices_path, class: "btn btn-default" %>
    </p>
    <p class="text-muted" id="notices"></p>
  </div>
</div>
<h2>APIのテスト</h2>
<p>温度、湿度、気圧、照度、電圧を送信します。</p>
<pre>
curl -G -d "id=<%= @device.id %>" -d "token=<%= @device.token4write %>" --data-urlencode "dt=<%= Time.zone.now.iso8601 %>" -d "temperature=12.3" -d "pressure=123.4" -d "humidity=12.3" -d "illuminance=123.4" -d "voltage=1.23" "<%= request.protocol + request.host + ":" + request.port.to_s %>/temps/upload"
</pre>
<p>画像データを送信します。カレントディレクトリにphoto.jpgというファイルが存在する状態を想定しています。</p>
<pre>
curl -X POST -F file=@./photo.jpg -F "id=<%= @device.id %>" -F "token=<%= @device.token4write %>" -F "dt=<%= Time.zone.now.iso8601 %>" -F "detected=true" "<%= request.protocol + request.host + ":" + request.port.to_s %>/pictures/upload"
</pre>

<h2>設定のスニペット</h2>
<p>デバイス側の設定時に利用される変数の設定例です。設定全体の流れは「<%= link_to '参加方法', howto_path %>」を参照してください。</p>
<h3>Raspberry Pi</h3>
<p></p>
<figure>
<figcaption>For shell script</figcaption>
<pre>
export MUKOYAMA_URL=<%= baseurl %>
export MUKOYAMA_ID=<%= @device.id %>
export MUKOYAMA_TOKEN=<%= @device.token4write %>
</pre>
</figure>

<figure>
<figcaption>For crontab</figcaption>
<pre>
MUKOYAMA_URL=<%= baseurl %>
MUKOYAMA_ID=<%= @device.id %>
MUKOYAMA_TOKEN=<%= @device.token4write %>
*/10 * * * * python $HOME/bin/mukoyama_bme280.py 2>&amp;1 | logger -p cron.info -t "mukoyama"
*    * * * * ruby $HOME/bin/mukoyama_camera.rb 2>&amp;1 | logger -p cron.info -t "mukoyama"
</pre>
</figure>
<p>Raspbianではloggerの出力は <code>/var/log/syslog</code> に記録されます。</p>
<h3>ESP8266</h3>
<figure>
<figcaption>For .ino</figcaption>
<pre>
const char* host = "<%= request.host %>";
const int httpsPort = <%= request.port.to_s %>;
const char* mukoyama_id    = "<%= @device.id %>";
const char* mukoyama_token = "<%= @device.token4write %>";
</pre>
</figure>

<!-- 全件削除ダイアログ -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">全件削除しますか？</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" id="alert">この操作は取り消しできません。</div>
        <p>確認のため、端末IDを入力してください。</p>
        <input class="form-control" type="text" name="id" value=""/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete">削除</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  $("#delete").on("click",function() {
    if ($("input[name=id]").val() == "<%= @device.id %>") {
      $.get("/devices/<%= @device.id %>/destroy_data", function(data) {
        alert("削除しました。");
        $("button.close").click();
      });
    } else {
      $("#alert").text("端末IDが違います。");
    }
  });
  $.get("/pictures/download",{"device_id":<%= @device.id %>},function(data){
    var btn = $("#download-pictures")
    if(data.startsWith("idle")){
      btn.html("<span class=\"glyphicon glyphicon-cloud-download\"></span> 写真(予約)");
      btn.removeAttr("disabled"); // prop did not work.
      btn.attr("href","javascript: void(0)");
      btn.attr("onclick","start_archiving()");
      $("#notices").text("写真(予約)ボタンを押すとダウンロード用データの準備を開始します。48時間以内にダウンロードしてください。");
    }else if(data.startsWith("ready")){
      btn.html("<span class=\"glyphicon glyphicon-cloud-download\"></span> 写真");
      btn.removeAttr("disabled"); // prop did not work.
      btn.attr("href","/pictures/download?device_id=<%= @device.id %>&exec=true");
      $("#notices").text("写真のダウンロードが可能です。このファイルは2日後に削除されます。[今すぐ削除(未実装)]");
    }else{
      $("#notices").text("写真データの準備中です。");
    }
  })

  function start_archiving(){
    $.get("/pictures/download",{"device_id":<%= @device.id %>,"exec":true},function(data){
      location.reload();
    });
  }
</script>
