<div id="chart_latest" class="col-md-12">
Loading..
</div>
<p><small><%= @notice %></small></p>

<div id="chart_daily" class="col-md-12">
Loading.. #TODO: 日次のグラフ
</div>

<div id="chart_monthly" class="col-md-12">
Loading.. #TODO: 月次のグラフ
</div>

#TODO: 統計情報

<table class="table">
	<tr>
		<th>記録開始日</th>
		<td></td>
	</tr>
	<tr>
		<th>閾値を超えた回数</th>
		<td></td>
	</tr>
</table>
<script>
	$.getJSON('../graph_data.json', <%= @p.html_safe %> ,function (data) {
		$('#chart_latest').highcharts({
				chart: {
						type: 'line'
				},
				title: {
						text: '気温 (°C)',
				},
				xAxis: {
						type: 'datetime'
				},
				yAxis: {
						title: {
								text: ''
						},
						plotBands: [{
								from: <%= @min_tmpr %>,
								to: <%= @max_tmpr %>,
								color: 'rgba(68, 170, 213, .2)'
						}]
				},
				series: [{
						name: "気温",
						color: Highcharts.getOptions().colors[3],
						showInLegend: false,
						data: data
				}]
		});
	});

	$.getJSON('../graph_data.json?unit=day&limit=-30%20day', <%= @p.html_safe %> ,function (data) {
		$('#chart_daily').highcharts({
				chart: {
						type: 'line'
				},
				title: {
						text: '気温 (°C)',
				},
				xAxis: {
						type: 'datetime'
				},
				yAxis: {
						title: {
								text: ''
						},
						plotBands: [{
								from: <%= @min_tmpr %>,
								to: <%= @max_tmpr %>,
								color: 'rgba(68, 170, 213, .2)'
						}]
				},
				tooltip: {
						crosshairs: true,
						shared: true,
						valueSuffix: '°C'
				},
				legend: {
				},
				series: [{
						name: "平均",
						data: data["avg"],
						zIndex: 1
				},{
						name: "高低",
						data: data["minmax"],
						type: 'arearange',
						lineWidth: 0,
						linkedTo: ':previous',
						color: Highcharts.getOptions().colors[0],
						fillOpacity: 0.3,
						zIndex: 0
				}]
		});
	});
</script>
