<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @item.code %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p>

<p>
  <strong>Revision:</strong>
  <%= @item.revision %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @item.maker %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @item.picture %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
