<form class="form-inline">
  <div class="form-group">
  <%= link_to "最新画像を取得", "javascript: request_upload()" ,class: "btn btn-primary" + (current_user ? "" : " disabled"), title: "ログインユーザのみ実行可能です" %>
  <%= link_to "再読込","javascript: location.reload()" ,class: "btn btn-success" %>
  <%= select_tag "date", options_for_select(@dates,@date), id: "date-select" ,class: "form-control" %>
  <%= select_tag "page", options_for_select(1..@n_pages,@page), id: "page-select" ,class: "form-control" %>
  <button type="button" id="back2listview" class="btn btn-default">一覧表示に戻る</button>
  <% if params[:head] %>
  <a href="../pictures/<%= @id %>?date=<%= params[:head][0,6] %>" class="btn btn-default">グループ表示に戻る</a>
  <% end %>
  &nbsp; <span class="label label-default"><span class="glyphicon glyphicon-user"></span> <%= @n_watchers %> 人が閲覧中</span>
  </div>
</form>
<script>
  $("#date-select").change(function(d){
    console.log(d.target);
    var date = $(d.target).val();
    location.href = "?date="+date;
  });

  $("#page-select").change(function(d){
    console.log(d.target);
    var date = $("#date-select").val();
    var p = $(d.target).val();
    location.href = "?date="+date+"&page="+p;
  });

  function request_upload(){
      $(".btn-primary").attr("disabled",true);
      $(".btn-primary").text("送信中..")
      $.get("request-upload",{"raspi_id": <%= @id %>},function(d){
        setTimeout(function(){ location.reload() },3000);
      });
  }
</script>
