<form class="form-inline">
  <div class="form-group">
  <%= link_to "最新画像を取得", "javascript: request_upload()" ,class: "btn btn-primary" + (current_user ? "" : " disabled"), title: "ログインユーザのみ実行可能です" %>
  <%= link_to "再読込","javascript: location.reload()" ,class: "btn btn-success" %>
  <%= select_tag "date", options_for_select(@dates,@date), id: "date-select" ,class: "form-control" %>
  <% unless @pictures.empty? %>
    <%= link_to pictures_download_this_path(@id, @date), class: "btn btn-default " do %>
      <span class="glyphicon glyphicon-cloud-download">&nbsp;一括ダウンロード</span>
    <% end %>
  <% end %>
  <button type="button" id="back2listview" class="btn btn-default">一覧表示に戻る</button>
  &nbsp; <span class="label label-default"><span class="glyphicon glyphicon-user"></span> <%= @n_watchers %> 人が閲覧中</span>
  </div>
</form>
<script>
  $("#date-select").change(function(d){
    console.log(d.target);
    var date = $(d.target).val();
    location.href = "?date="+date+"&device_id=<%= @id %>";
  });

  $("#page-select").change(function(d){
    console.log(d.target);
    var date = $("#date-select").val();
    var p = $(d.target).val();
    location.href = "?date="+date+"&page="+p+"&device_id=<%= @id %>";
  });

  function request_upload(){
      $(".btn-primary").attr("disabled",true);
      $(".btn-primary").text("送信中..")
      $.get("request-upload",{"device_id": <%= @id %>},function(d){
        setTimeout(function(){ location.reload() },3000);
      });
  }
</script>
