<% content_for :title, @device.name %>
<% content_for :subtitle, "ID: #{@device.id}" %>
<div class="row">
  <div class="col-sm-12">
    <%= render 'pagenator' %>
  </div>
</div>
<br/>
<div class="row" id="listview">
  <% @pictures.each_with_index do |p,i|
      caption = p.dt.strftime("%m/%d %H:%M")
  %>
  <div class="col-xs-4 col-sm-<%= @colsize %>">
    <figure>
        <%= link_to (image_tag picture_path(p.id), alt: p.dt.to_s, class: "img-responsive img-rounded"), picture_path(p.id), class: "popupimg", data: {index: i.to_s, caption: caption} %>
        <figcaption class="text-muted"><%= caption %></figcaption>
      <a href='../pictures-all/<%= "#{@id}?FIXME" %>' data-index="<%= i %>" data-caption="<%= caption %>">
      </a>
    </figure>
  </div>
  <% end %>
  <% if @pictures.count == 0 %>
  <div class="col-xs-12">このIDに登録された写真はありません。登録方法は設定画面を確認してください。</div>
  <% end %>
</div>

<div class="row" id="slideview">
  <% p = @pictures.first %>
  <div class="hidden-xs hidden-sm col-md-2">
    <!-- 前後の画像を出したかったけどうまくいかないので隠しておきます -->
  </div>
  <div class="col-xs-12 col-md-8" style="text-align: center">
    <figure>
        <img id="slideview-img" src="" alt="" class="img-responsive img-rounded" style="margin: auto;"/>
        <figcaption id="slideview-caption" class="text-muted">loading..</figcaption>
    </figure>
  </div>
  <div class="hidden-xs hidden-sm col-md-2">
    <!-- 前後の画像を出したかったけどうまくいかないので隠しておきます -->
  </div>
</div>
<nav id="slideview-nav">
  <ul class="pager">
    <li class="previous"><a id="slideview-previous" href="javascript: void(0)" onclick="previous_image()"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
    <li class="next"><a id="slideview-next" href="javascript: void(0)" onclick="next_image()"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
</nav>

<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <tr>
  		<th>公開用URL</th>
  		<td>
  			<div class="well well-sm">
				  <% url = baseurl+request.path+"?device_id=#{@device.id}&token=#{@device.token4read}" %>
          <%= (link_to url, url) if @device.readable? %>
  			</div>
  		</td>
    	</tr>
    </table>
  </div>
</div>

<script>
var current_index = -1;
var length = <%= @pictures.length %>;

function show_listview(){
  $('#listview').show();
  $('#slideview').hide();
  $('#back2listview').hide();
  $('#slideview-nav').hide();
}

function show_slideview(){
  $('#listview').hide();
  $('#slideview').show();
  $('#back2listview').show();
  $('#slideview-nav').show();
}

function show_image(index){
  if(index < 0 || index >= length) return;

  current_index = index;
  var img = $(".popupimg")[index];
  $('#slideview-img').attr('src',img.href);
  $('#slideview-caption').text($(img).data('caption'));

  // 次（前）のページをロードできると良いがとりあえずこれで
  if(current_index == 0){
    $("#slideview-previous").addClass("disabled");
  }else if(current_index == length - 1){
    $("#slideview-next").addClass("disabled");
  }else{
    $("#slideview-previous").removeClass("disabled");
    $("#slideview-next").removeClass("disabled");
  }
}

function previous_image(){
  show_image(current_index - 1);
}

function next_image(){
  show_image(current_index + 1);
}

$('.popupimg').bind('click', function(e){
  e.preventDefault();

  show_image($(this).data("index"));
  show_slideview();
  $(document).keydown(function(e) {
    if (e.keyCode == 37) {
      previous_image();
    } else if (e.keyCode == 39) {
      next_image();
    }
  });
});

$('#back2listview').bind('click', function() {
  show_listview();
  $(document).off("keydown");
});

// リスト(一覧)ビューを表示
show_listview();
</script>
