<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>メール</th>
    <th>センサ数</th>
    <th>登録日時</th>
    <th>ログイン日時</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.settings.count %></td>
    <td><%= user.confirmed_at %></td>
    <td><%= user.current_sign_in_at %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<p>登録日時(confirmed_at)を更新してユーザの有効/無効を切り替え可能です。</p>
<pre>update users set confirmed_at = now() where id = ID;</pre>
