<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :raspi_id, value: @raspi_id %>
  <div class="form-group">
    <%= f.label :mail %>
    <%= f.text_field :mail, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :snooze %>
    <%= f.text_field :snooze, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
    <%= f.submit "保存する", class: "btn btn-primary" %>
<% end %>
<br/>
