<div class="row">
  <div class="col-sm-6">
<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :device_id, value: @device_id %>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :snooze %>
    <%= f.text_field :snooze, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
    <%= f.submit "保存する", class: "btn btn-primary" %>
<% end %>
  <br/>
  </div>
  <div class="col-sm-6">
    <ul>
      <li>電話番号(日本)を登録する場合、先頭の「0」を除いて「+81」を追加します。<br/>
      例: 090-1234-5678 → +819012345678</li>
    </ul>
  </div>
</div>
