<p id="notice"><%= notice %></p>

<% content_for :title, "送信先アドレス" %>

<table class="table">
  <thead>
    <tr>
      <th>Raspi ID</th>
      <th>メール</th>
      <th>有効</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.raspi_id %></td>
        <td><%= address.mail %></td>
        <td><%= address.active %></td>
        <td><%= link_to '表示', address, class: "btn btn-sm btn-default" %></td>
        <td><%= link_to '編集', edit_address_path(address), class: "btn btn-sm btn-default" %></td>
        <td><%= link_to '削除', address, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいアドレス', new_address_path, class: "btn btn-primary" %>
