<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <tr>
        <th>センサID:</th>
        <td><%= @address.raspi_id %></td>
      </tr>
      <tr>
        <th>メール(電話番号)</th>
        <td><%= @address.mail %>
          &nbsp;
          <%= button_tag '送信テスト', type: 'button', class: "btn btn-success btn-xs send_message" %>
        </td>
      </tr>
      <tr>
        <th>送信間隔(分)</th>
        <td><%= @address.snooze %></td>
      </tr>
      <tr>
        <th>有効</th>
        <td><%= @address.active ? "<span class='glyphicon glyphicon-ok'></span>".html_safe : "" %></td>
      </tr>
    </table>
  </div>
</div>
<p>
<%= link_to '編集', edit_address_path(@address), class: "btn btn-default" %>
<%= link_to '戻る', addresses_path(raspi_id: @address.raspi_id), class: "btn btn-default" %>
</p>
<script type="text/javascript">
  $('.send_message').on('click',function() {
    $(".alert").remove();
    $.ajax({
      type: 'GET',
      url: '/send_message?mail=<%= URI.encode(@address.mail) %>',
      dataType: 'text'
    }).done(function(res) {
      $('.container h1').after('<div class="alert alert-info" role="alert"><%= @address.type %>で通知しました。</div>');
    }).fail(function(res) {
      $('.container h1').after('<div class="alert alert-danger" role="alert"><%= @address.type %>で通知できませんでした。</div>');
    });
  });
</script>
