<title><%= content_for :title %> - Akimoto</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<meta property="og:title" content="<%= content_for(:title) %> - Akimoto">
<meta property="og:site_name" content="mukoyama">
<meta property="og:description" content="商品マスタ管理システム">
<meta property="og:image" content="">
