<%= form_for(@tmpr_daily_log) do |f| %>
  <% if @tmpr_daily_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tmpr_daily_log.errors.count, "error") %> prohibited this tmpr_daily_log from being saved:</h2>

      <ul>
      <% @tmpr_daily_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device_id %><br>
    <%= f.number_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :time_stamp %><br>
    <%= f.date_select :time_stamp %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br>
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :pressure %><br>
    <%= f.text_field :pressure %>
  </div>
  <div class="field">
    <%= f.label :humidity %><br>
    <%= f.text_field :humidity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
