<p id="notice"><%= notice %></p>

<p>
  <strong>Raspi:</strong>
  <%= @tmpr_daily_log.device_id %>
</p>

<p>
  <strong>Time stamp:</strong>
  <%= @tmpr_daily_log.time_stamp %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @tmpr_daily_log.temperature %>
</p>

<p>
  <strong>Pressure:</strong>
  <%= @tmpr_daily_log.pressure %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @tmpr_daily_log.humidity %>
</p>

<%= link_to 'Edit', edit_tmpr_daily_log_path(@tmpr_daily_log) %> |
<%= link_to 'Back', tmpr_daily_logs_path %>
