<table class="table">
  <tr>
    <th>ID:</th>
    <td><%= @setting.raspi_id %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.setting.name") %></th>
    <td><%= @setting.name %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.setting.min_tmpr") %></th>
    <td><%= @setting.min_tmpr %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.setting.max_tmpr") %></th>
    <td><%= @setting.max_tmpr %></td>
  </tr>
</table>

<%= link_to t('edit'), edit_setting_path(@setting) %> |
<%= link_to t('back'), settings_path %>
