<div class="row">
  <div class="col-sm-6">
    <table class="table">
  <tr>
    <th>ID</th>
    <td><%= @setting.raspi_id %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.setting.name") %></th>
    <td><%= @setting.name %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.setting.min_tmpr") %></th>
    <td><%= @setting.min_tmpr %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.setting.max_tmpr") %></th>
    <td><%= @setting.max_tmpr %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.setting.token4write") %></th>
    <td><div class="well well-sm"><%= @setting.token4write %></div>
    </td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.setting.created_at") %></th>
    <td><%= @setting.created_at %></td>
  </tr>
  <tr>
    <th><%= t("activerecord.attributes.setting.updated_at") %></th>
    <td><%= @setting.updated_at %></td>
  </tr>
    </table>
  </div>
</div>
<p>当プロジェクトのプログラム(mukoyama_bme280.py)を利用する場合、同プログラムをRaspberryPiに配備してから(「<%= link_to '参加方法', howto_path %>」参照)、以下の設定をcrontabに登録してください。
Raspbianの規定の設定では、/var/log/syslogに処理ログが出力されますので、ここで正常にコマンドが動いていることを確認してください。</p>
<div class="well">
MUKOYAMA_URL=<%= request.protocol + request.host + ":" + request.port.to_s %><br/>
MUKOYAMA_ID=<%= @setting.raspi_id %><br/>
MUKOYAMA_TOKEN=<%= @setting.token4write %>
</div>
<div class="well">
*/10 * * * * python $HOME/bin/mukoyama_bme280.py 2>&amp;1 | logger -p cron.info -t "mukoyama"
</div>
<p>カメラを接続する場合は以下の行も追加します。撮影にはraspistillコマンドを利用しています（画質等の設定調整は同コマンドのマニュアルを参照してください）。</p>
<div class="well">
*/10 * * * * python $HOME/bin/mukoyama_camera.py 2>&amp;1 | logger -p cron.info -t "mukoyama"
</div>

<p>mukoyama_esp8266.inoを利用する場合は、IDとトークンを以下のように設定します。</p>
<div class="well">
const char* host = "<%= request.host %>";<br/>
const int httpsPort = <%= request.port.to_s %>;<br/>
const char* mukoyama_id    = "<%= @setting.raspi_id %>";<br/>
const char* mukoyama_token = "<%= @setting.token4write %>";
</div>
<p>
<%= link_to t('edit'), edit_setting_path(@setting), class: "btn btn-default" %>
<%= link_to t('back'), settings_path, class: "btn btn-default" %>
</p>
