<title>Mukoyama - <%= content_for :title %></title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<meta property="og:title" content="Mukoyama - <%= content_for(:title) %>">
<meta property="og:site_name" content="mukoyama">
<meta property="og:description" content="ビニールハウスや生産設備の温度監視システム">
<meta property="og:image" content="<%= asset_url("sensor.jpg") %>">
