<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Mukoyama", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to '<span class="glyphicon glyphicon-dashboard"></span> ダッシュボード'.html_safe, dashboard_path %></li>
        <% end %>
        <li><%= link_to '<span class="glyphicon glyphicon-wrench"></span> 参加方法'.html_safe, howto_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to '<span class="glyphicon glyphicon-log-out"></span> 退室'.html_safe, destroy_user_session_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> 入室'.html_safe, new_user_session_path %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-pencil"></span> 登録'.html_safe, new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
