<div class="list-group">
  <%= link_to 'グラフ', '/tmpr_logs/graph', class: "list-group-item" %>
  <%= link_to '送信先アドレス', '/addresses', class: "list-group-item" %>
  <%= link_to '設定', '/settings', class: "list-group-item" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>raspi id</th>
      <th>下限</th>
      <th>上限</th>
      <th>連絡先</th>
    </tr>
  </thead>
  <tbody>
    <% @raspi_list.each do |r| %>
      <tr>
        <td><%= r.raspi_id %></td>
        <td><%= r.min_tmpr %></td>
        <td><%= r.max_tmpr %></td>
        <td><%= r.addresses.count %>件</td>
      </tr>
    <% end %>
  </tbody>
</table>
