<% content_for :title, 'ダッシュボード' %>
<div class="row">
  <% @devices.each do |d| %>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <figure>
        <%= image_tag device_picture_path(d.id), alt: "", class: "img-responsive" %>
        <figcaption>
          <%= d.name %>
          <% if d.readable? %><span class="glyphicon glyphicon-globe" title="リンクを知っているユーザに閲覧を許可した状態です"></span><% end %>
          <span class="text-muted">ID:<%= d.id4line %></span>
        </figcaption>
      </figure>
      <table class="table device1">
        <tr>
          <th>気温</th>
          <td id="<%= d.id %>-temperature"></td>
          <th>湿度</th>
          <td id="<%= d.id %>-humidity"></td>
        </tr>
        <tr>
          <th>気圧</th>
          <td id="<%= d.id %>-pressure"></td>
          <th>照度</th>
          <td id="<%= d.id %>-illuminance"></td>
        </tr>
        <tr>
          <th>電圧</th>
          <td id="<%= d.id %>-voltage"></td>
          <th></th>
          <td>-</td>
        </tr>
      </table>
      <table class="table device2">
        <tr>
          <% d.latest_pictures(3).each do |p| %>
          <td><%= link_to image_tag(picture_path(p.id), alt: "", class: "img-responsive img-rounded"), pictures_path(device_id: d.id) %></td>
          <% end %>
        </tr>
      </table>
      <p>
        <%= link_to '<span class="glyphicon glyphicon-signal"></span>'.html_safe, temps_graph_path(d.id),title: "温湿度グラフ", class: "btn btn-default disabled", id: "#{d.id}-nd" %>
        <%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, temps_path(device_id: d.id),title: "最新のデータ", class: "btn btn-default disabled", id: "#{d.id}-nt" %>
        <%  pic_path = d.google_drive_url.present? ? d.google_drive_url : pictures_path(device_id: d.id) %>
        <%  pic_target = d.google_drive_url.present? ? "_blank" : "_self" %>
        <%= link_to '<span class="glyphicon glyphicon-picture"></span>'.html_safe, pic_path, title: "写真", class: "btn btn-default disabled", id: "#{d.id}-np", target: pic_target %>
      </p>
      <table class="table device3">
        <tr>
          <th>登録日</th>
          <td><%= d.created_at.strftime("%y/%m/%d") %></td>
          <th>地域</th>
          <td><%= d.city_name %></td>
        </tr>
        <tr>
          <th>温度範囲</th>
          <td><%= d.temp_min %>-<%= d.temp_max %></td>
          <th>温度件数</th>
          <td id="<%= d.id %>-n-temps"></td>
        </tr>
        <tr>
          <th>最終受信</th>
          <td id="<%= d.id %>-ago"></td>
          <th>写真数</th>
          <td id="<%= d.id %>-n-pictures"></td>
        </tr>
        <% if @all %>
        <tr>
          <th>所有者</th>
          <td colspan="3"><%= d.user&.name4display %></td>
        </tr>
        <% end %>
      </table>
      <p>
        <%= link_to '<span class="glyphicon glyphicon-cog"></span>'.html_safe, d, title: "デバイス設定の表示/編集" , class: "btn btn-default" %>
        <%= link_to "<span class='glyphicon glyphicon-send'></span> <span class='badge'>#{d.addresses.count}</span>".html_safe, addresses_path(device_id: d.id),title: "通知先一覧", class: "btn btn-default" %>
      </p>
    </div>
  </div>
  <script>
    var id = <%= d.id %>;
    $.getJSON("dashboard-stat1",{"device_id": id},function(json){
      $("#"+json.device_id+"-n-temps").text(json.n_temps);
      if(json.n_temps > 0){
        $("#"+json.device_id+"-nd").removeClass("disabled");
        $("#"+json.device_id+"-nt").removeClass("disabled");
        $("#"+json.device_id+"-first").text(json.first);
        $("#"+json.device_id+"-last").text(json.last);
      }
      $("#"+json.device_id+"-temperature").text(json.temperature);
      $("#"+json.device_id+"-humidity").text(json.humidity);
      $("#"+json.device_id+"-pressure").text(json.pressure);
      $("#"+json.device_id+"-illuminance").text(json.illuminance);
      $("#"+json.device_id+"-voltage").text(json.voltage);

      $("#"+json.device_id+"-n-pictures").text(json.n_pictures);
      if(json.n_pictures > 0){
        console.dir("#"+json.device_id+"-np");
        $("#"+json.device_id+"-np").removeClass("disabled");
      }
      $("#"+json.device_id+"-ago").text(json.ago+"前");
    });
  </script>
  <% end %>
</div>


<div class="row">
  <div class="col-sm-10">
<p>
<%= link_to '<span class="glyphicon glyphicon-phone"></span> デバイスの追加'.html_safe, new_device_path, class: "btn btn-primary" %>
<%= link_to '<span class="glyphicon glyphicon-cloud"></span> 各地の天気'.html_safe, weather_path, class: "btn btn-default" %>
</p>
<ul>
  <li>右(下)のリンクまたはQRコードからLINEのアカウントを登録してください。</li>
  <li>IDが「0-0000」形式になっているものはLINEに登録して通知を受け取ることが出来ます。</li>
</ul>
    <table class="table">
      <tr>
        <th>現在時刻(UTC)</th><td><%= Time.now %></td>
        <th>現在時刻(<%= Rails.configuration.time_zone %>)</th><td><%= Time.zone.now %></td>
      </tr>
      <tr>
        <th>ディスク使用量</th><td colspan="3" id="disk_usage">..</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-2">
    <%= line_add_frinend_button %>
    <%= image_tag "NuZYAW7_2x.png", class: "img img-responsive", style: "border: 1px solid #ccc"  %>
  </div>
</div>

<% if current_user.admin? %>
<hr/>
<div class="row">
  <div class="col-sm-3">
    <div class="list-group">
      <%= link_to 'ユーザ一覧', users_path, class: "list-group-item" %>
      <%= link_to 'センサ一覧', devices_path(all: true), class: "list-group-item" %>
      <%= link_to '通知先一覧', addresses_path, class: "list-group-item" %>
      <a href="https://console.cloud.google.com" class="list-group-item" target="_blank">Google Cloud Platform</a>
    </div>
  </div>
  <div class="col-sm-3">
    <table class="table table-condensed">
      <tr>
        <th>ユーザ数</th><td><%= User.count %></td>
      </tr>
      <tr>
        <th>センサ数</th><td><%= Device.count %></td>
      </tr>
      <tr>
        <th>通知先数</th><td><%= Address.count %></td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6" id="mail_logs" style="max-height: 300px; overflow: scroll">
  </div>
  <script>
    $("#mail_logs").load("dashboard-mail_logs");

    $.getJSON("dashboard-stat2",function(json){
      $("#disk_usage").text(json.disk_usage.toLocaleString());
    });

    // 高さを揃える
    $(window).load(function () {
      var max_height = 0;
      $("div.thumbnail").each(function(i,e){ var h = $(e).height(); if(h > max_height) max_height = h});
      $("div.thumbnail").each(function(i,e){ $(e).height(max_height) });
    });
  </script>
</div>
<% end %>
