<% content_for :title, 'ダッシュボード' %>
<p>Welcome, <%= current_user.name %></p>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th title="Rasiberry Piの名前や設置場所の情報">名前</th>
      <th>下限</th>
      <th>上限</th>
      <th>グラフ</th>
      <th>連絡先</th>
    </tr>
  </thead>
  <tbody>
    <% @raspi_list.each do |r| %>
      <tr>
        <td><%= r.raspi_id %></td>
        <td><%= r.name %></td>
        <td><%= r.min_tmpr %></td>
        <td><%= r.max_tmpr %></td>
        <td><%= link_to 'グラフ', tmpr_logs_graph_path(r.raspi_id), class: "btn btn-default btn-sm" %></td>
        <td><%= link_to "#{r.addresses.count}件", addresses_path(raspi_id: r.raspi_id), class: "btn btn-default btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
<%= link_to '設定の編集', settings_path, class: "btn btn-default" %>
<%= link_to 'ユーザ情報の編集', edit_user_registration_path, class: "btn btn-default" %>
</p>
