<% content_for :title, t("root") %>
<div class="root1">
  <div class="container">
    <% if notice %>
      <div class="alert alert-info" role="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <h1>Project Mukoyama</h1>
    <p>Raspberry Piでビニールハウスの温度監視システムを構築するプロジェクト。</p>
  </div>
</div>
<div class="root2">
  <div class="container">
    <p></p>
    <div class="row">
      <div class="col-sm-6">
        <h3>概要</h3>
        <p>
        Raspberry Piに温度センサと3G(4G)通信モジュールをつけて、ビニールハウスの温度変化を記録し、
        異常を検知したらハウス管理者のところへメールでお知らせする仕組みを構築しています。
        他の仕組みに比べると、部品代が安いところ（全部で1万円ちょっとくらい）と、
        拡張性が高いところ（GPIOのピンが沢山余ってます、の意）が特徴です。
        </p>
        <h3>課題</h3>
        <ul>
          <li>防水・防塵が不十分です。タッパに入れてるだけ…。<br/>
            -&gt; 防水性のシューズケースに入れてみました。
          </li>
          <li>安定入手できる3G通信モジュールが見つかっていません。今はL-05Aを使ってます。<br/>
          -&gt; <a href="https://iot.sakura.ad.jp/">さくらのIoT Platform</a>を検討しています。Wifi環境のある設備なら導入は簡単です。</li>
        </ul>
        <p>
          最新の課題は、<a href="https://github.com/lumbermill/takachiho/issues?q=is%3Aopen+is%3Aissue+milestone%3Amukoyama">GitHub</a>で管理しています。
        </p>
        <h3>ゴール</h3>
        <p>
        まずはルールベースの異常検知とデータの可視化で実績を作ります。
        気象データや周辺のセンサからの情報なども統合を進め（ビッグデータ化）、
        最終的にはAIによるインテリジェントな異常判断や自律的な制御(温度を直接操作するなど)までいけたら面白そうですね。
        </p>
      </div>
      <div class="col-sm-6">
        <%= image_tag 'graph.png', class: 'img img-responsive img-rounded' %>
        <br/>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <h3>導入事例</h3>
  <p>
  あるビニールハウス農家さんのハウス内にセンサーを取り付け、一定の温度まで気温が上昇したら農家さんにメールが届くようになっています。
  </p>
</div>
  <div class="col-sm-3">
    <%= image_tag 'about.png', class: 'img img-responsive img-rounded' %>
    <br/>
  </div>
  <div class="col-sm-3">
    <%= image_tag 'IMG_0983.JPG', class: 'img img-responsive img-rounded' %>
    <br/>
  </div>
<div class="root3">
  <div class="container">
    <p></p>
    <div class="row">
      <div class="col-sm-6">
        <h3>開発者向け</h3>
        <p>
          プロジェクトのコードは全てGitHubで公開しています。不明な点などあれば、お気軽にお問い合わせください。
当初はRaspberryPiとホストサーバ間をrsyncでデータ転送していましたが、Arduino等の利用も視野に入れてhttpsベースのデータ転送方式に変更しています。
詳細は<a href="howto">参加方法</a>を参照してください。
        </p>
        <p>
          <a href="https://github.com/lumbermill/takachiho">https://github.com/lumbermill/takachiho</a>
        </p>
      </div>
      <div class="col-sm-3">
        <%= image_tag 'pic1.jpg', class: 'img img-responsive img-rounded' %>
        <br/>
      </div>
      <div class="col-sm-3">
        <%= image_tag 'pic2.jpg', class: 'img img-responsive img-rounded' %>
        <br/>
      </div>
    </div>
  </div>
</div>
