<% content_for :title, t("root") %>
<div class="root1">
  <div class="container">
    <% if notice %>
      <div class="alert alert-info" role="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>
    <h1>Project Mukoyama</h1>
    <p>生産設備のモニタリングシステム</p>
    <p>&nbsp;</p>
    <div class="alert alert-success">
      <%= link_to "端末リースお申込み", lease_path %>受付を開始しました。18.11.23
    </div>
  </div>
</div>
<div class="root2">
  <div class="container">
    <p></p>
    <div class="row">
      <div class="col-sm-6">
        <h3>じぶんでつくるIoT</h3>
        <p>
        RaspberryPiやArduinoに各種センサと通信モジュール(3G,Wifi)をつけて、
        ビニールハウスや工場などの状態を監視するプラットフォームです。
        異常を検知したら設備管理者のところへメール、チャット(LINE,Slack)、電話などでお知らせする仕組みを構築しています。
        廉価に購入できる部品を組み合わせて、DIY感覚で端末を構築でき、様々な環境やニーズに柔軟に適応できる仕組みを目指しています。
        </p>
        <p>
          現在、<%= link_to "端末リース", lease_path %>のお申込みを受付中です。
          個々の事例に即した機器の導入をご提案致します。
        </p>
        <p>
          将来的には、気象データや周辺のセンサからの情報を統合、ビッグデータ化し、
          最終的にはAIによる異常検知や自律的な制御を目指します。
        </p>
        <h3>導入実績</h3>
        <p>以下のような用途に利用されています。</p>
        <ul style="font-size: medium">
          <li>ビニルハウス・店舗の温湿度の監視と通知</li>
          <li>店舗内の明るさの監視</li>
          <li>動体検知機能付き監視カメラ</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <%= render "carousel" %>
      </div>
    </div>
  </div>
</div>
<div class="root3">
  <div class="container">
    <p></p>
    <div class="row">
      <div class="col-sm-6">
        <h3>開発者・投資家の方へ</h3>
        <p>もともとはオープンな取り組みとしてこのプロジェクトをスタートしています。
          プロジェクトのコードや現在取り組んでいる課題はGitHubで公開しており、今後も基本的には、
          プラットフォーム側のコードは全てオープンにした状態のままで開発を継続します。
          どなたでも機能の追加や改善要望をイシューやプルリクエストとしてお伝え頂くことが出来ます。
          このプロジェクト自体をフォーク・コピーして別のサービスを立ち上げることも可能です。
          </p>
        <p>運用コストの都合で現在は無効化していますが、<a href="https://www.twilio.com">Twilio API</a>で電話通知、
<a href="https://developers.line.me/">LINE Messaging API</a>でLINEによる通知も実装しています。
詳細は<a href="howto">参加方法(ユーザ様向け)</a>や<a href="https://github.com/lumbermill/takachiho/blob/master/rails/mukoyama/README.md">README(GitHub,開発者様向け)</a>を参照してください。
        </p>
        <p>&nbsp;</p>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
</div>
