<p id="notice"><%= notice %></p>

<h1>Train Data</h1>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>LABEL IMAGE</th>
      <th>CODE/NAME</th>
      <th>COUNT</th>
      <th></th>
    </tr>
    <% @train_data.each do |train_datum| %>
      <tr>
        <td><%= train_datum[:id] %></td>
        <td><%= image_tag(train_datum.label_image_path, {class:"item",alt:train_datum[:label]}) %></td>
        <td><%= train_datum[:jan] %><br><%= train_datum[:label] %></td>
        <td><%= train_datum.image_count %></td>
        <td><%= link_to('詳細', train_datum, {class:"btn btn-default"}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
