<p id="notice"><%= notice %></p>

<h1>Train Data</h1>

<table class="table">
  <tbody>
    <tr>
      <th>ID</th>
      <th>LABEL IMAGE</th>
      <th>CODE/NAME</th>
      <th>COUNT</th>
      <th></th>
    </tr>
    <% @train_data.each do |train_datum| %>
      <tr>
        <td><%= train_datum[:id] %></td>
        <td><%= image_tag("train-image/#{train_datum[:id]}/0.jpg", {class:"item",alt:train_datum[:label]}) %></td>
        <td><%= train_datum[:jan] %><br><%= train_datum[:label] %></td>
        <td><%= train_image_count(train_datum[:id]) %></td>
        <td><a href="" class="btn btn-default">詳細</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
