<% content_for :title, @device.name %>
<% content_for :subtitle, "ID: #{@device.id}" %>
<div class="row">
	<div class="col-md-2" style="text-align: left">
		<span class="label label-default"><span class="glyphicon glyphicon-user"></span> <%= @n_watchers %> 人が閲覧中</span>
	</div>
	<div class="col-md-10" style="text-align: right">
		<%= line_add_frinend_button %>
	</div>
</div>
<div id="chart_latest" class="col-md-12">
Loading..
</div>
<p><small><%= @notice %></small></p>

<div id="chart_latest-illuminance" class="col-md-6">
Loading..
</div>

<div id="chart_latest-voltage" class="col-md-6">
Loading..
</div>

<div id="chart_daily" class="col-md-12">
Loading..
</div>

<div id="chart_monthly" class="col-md-12">
Loading..
</div>

<table class="table">
	<tr>
		<th>データの保持範囲</th>
		<td><%= @min_timestamp %> to <%= @max_timestamp %></td>
	</tr>
	<tr>
		<th>公開用URL</th>
		<td>
			<div class="well well-sm">
				<% url = baseurl+request.path+"?token="+@device.token4read if @device.readable? %>
				<%= (link_to url, url) if @device.readable?%>
			</div>
		</td>
	</tr>
</table>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
google.charts.load('current', {'packages':['line', 'corechart']});
google.charts.setOnLoadCallback(update_all_graphs);
setInterval(update_graphs, 60000);

var last_timestamp_day = "";
var today = "";

function draw_temp_and_humid(){
	var options = {
		chart: {
			title: '直近7日間の気温(°C)と湿度(%)'
		},
		legend: { position: 'bottom' },
		colors: ['orange', 'steelblue'],
		series: {
			0: {axis: 'Temps'},
			1: {axis: 'Humidity'}
		},
		hAxis: { format: 'M/d'},
		axes: {
			y: {
				Humidity: {
					range: {
						max: 100,
						min: 0
					}
				}
			}
		},
		height: 300
	};
	var chart = new google.charts.Line(document.getElementById('chart_latest'));

	$.getJSON('../graph_data.json', <%= @t.html_safe %> ,function (data) {
		console.log(data);
		var dt = new google.visualization.DataTable();
					dt.addColumn('datetime', 'Timestamp');
					dt.addColumn('number', '温度');
					dt.addColumn('number', '湿度');
					if (data.length > 0) {
						for(var i=0; i<data.length;i++){
							dt.addRow([new Date(data[i][0]), data[i][1],data[i][2]]);
						}
					} else {
						dt.addRow([new Date(0),0,0]);
					}
		chart.draw(dt, options);
	});
}

function draw_illuminance(){
	var options = {
		chart: {
			title: '直近7日間の照度(lux)'
		},
		legend: { position: 'bottom' },
		colors: ['skyblue'],
		hAxis: { format: 'M/d'},
		height: 300
	};
	var chart = new google.charts.Line(document.getElementById('chart_latest-illuminance'));

	$.getJSON('../graph_data.json', <%= @i.html_safe %> ,function (data) {
		var dt = new google.visualization.DataTable();
					dt.addColumn('datetime', 'Timestamp');
					dt.addColumn('number', '照度');
					if (data.length > 0) {
						for(var i=0; i<data.length;i++){
							dt.addRow([new Date(data[i][0]), data[i][1]]);
						}
					} else {
						dt.addRow([new Date(0),0]);
					}
		chart.draw(dt, options);
	});
}

function draw_voltage(){
	var options = {
		chart: {
			title: '直近7日間の電圧(V)'
		},
		legend: { position: 'bottom' },
		colors: ['goldenrod'],
		hAxis: { format: 'M/d'},
		height: 300
	};
	var chart = new google.charts.Line(document.getElementById('chart_latest-voltage'));

	$.getJSON('../graph_data.json', <%= @v.html_safe %> ,function (data) {
		var dt = new google.visualization.DataTable();
					dt.addColumn('datetime', 'Timestamp');
					dt.addColumn('number', '電圧');
					if (data.length > 0) {
						for(var i=0; i<data.length;i++){
							dt.addRow([new Date(data[i][0]), data[i][1]]);
						} 
					} else {
						dt.addRow([new Date(0),0]);
					}
		chart.draw(dt, options);
	});
}

function draw_daily(){
//chart_daily
//日次の気温(°C)と湿度(%)
	var options = {
		title: '日次の気温(°C)と湿度(%)',
		legend: { position: 'bottom' },
		colors: ['orange', 'steelblue'],
		series: {
			0: {targetAxisIndex: 0},
			1: {targetAxisIndex: 1}
		},
		vAxes: {
			0: {title: 'Temps'},
			1: {
				title: 'Humidity',
				viewWindow: {
					max:100,
					min:0
				}
			}
		},
		hAxis: { format: 'M/d'},
		intervals: { 'style':'area' },
		theme: 'material',
		height: 300
	};
	var chart = new google.visualization.LineChart(document.getElementById('chart_daily'));

	$.getJSON('../graph_data.json?unit=day', <%= @t.html_safe %> ,function (data) {
		console.log(data);
		var dt = new google.visualization.DataTable();
					dt.addColumn('datetime', 'Timestamp');
					dt.addColumn('number', '温度');
					dt.addColumn({id: "min", type:'number', role:'interval'});
					dt.addColumn({id: "max", type:'number', role:'interval'});
					dt.addColumn('number', '湿度');
					for(var i=0; i<data.length;i++){
						dt.addRow([new Date(data[i][0]), data[i][1],data[i][3],data[i][4],data[i][2]]);
					}
		chart.draw(dt, options);
	});
}

function draw_monthly(){
	var options = {
		title: '月次の気温(°C)と湿度(%)',
		legend: { position: 'bottom' },
		colors: ['orange', 'steelblue'],
		series: {
			0: {targetAxisIndex: 0},
			1: {targetAxisIndex: 1}
		},
		vAxes: {
			0: {title: 'Temps'},
			1: {
				title: 'Humidity',
				viewWindow: {
					max:100,
					min:0
				}
			}
		},
		hAxis: { format: 'y/M'},
		theme: 'material',
		height: 300
	};
	var chart = new google.visualization.LineChart(document.getElementById('chart_monthly'));

	$.getJSON('../graph_data.json?unit=month', <%= @t.html_safe %> ,function (data) {
		var dt = new google.visualization.DataTable();
					dt.addColumn('datetime', 'Timestamp');
					dt.addColumn('number', '温度');
					dt.addColumn({id: "min", type:'number', role:'interval'});
					dt.addColumn({id: "max", type:'number', role:'interval'});
					dt.addColumn('number', '湿度');
					for(var i=0; i<data.length;i++){
						dt.addRow([new Date(data[i][0]), data[i][1],data[i][3],data[i][4],data[i][2]]);
					}
		chart.draw(dt, options);
	});
}

// 毎分更新されるグラフ
function update_graphs() {
	draw_temp_and_humid();
	draw_illuminance();
	draw_voltage();
}

// ロード時に更新されるグラフ
function update_all_graphs() {
	update_graphs();
	draw_daily();
	draw_monthly();
}

function get_today() {
	var d = new Date();
	return d.getFullYear()+'/'+d.getMonth()+'/'+d.getDate();
}
</script>
