<% content_for :title, @device.name %>
<% content_for :subtitle, "ID: #{@device.id}" %>
<div class="row">
	<div class="col-md-2" style="text-align: left">
		<span class="label label-default"><span class="glyphicon glyphicon-user"></span> <%= @n_watchers %> 人が閲覧中</span>
	</div>
	<div class="col-md-10" style="text-align: right">
		<%= line_add_frinend_button %>
	</div>
</div>
<div id="chart_latest" class="col-md-12">
Loading..
</div>
<p><small><%= @notice %></small></p>

<div id="chart_daily" class="col-md-12">
Loading..
</div>

<div id="chart_monthly" class="col-md-12">
Loading..
</div>

<table class="table">
	<tr>
		<th>データの保持範囲</th>
		<td><%= @min_timestamp %> to <%= @max_timestamp %></td>
	</tr>
	<tr>
		<th>公開用URL</th>
		<td>
			<div class="well well-sm">
				<% url = baseurl+request.path+"?token="+@device.token4read if @device.readable? %>
				<%= (link_to url, url) if @device.readable?%>
			</div>
		</td>
	</tr>
</table>

<script>
var last_timestamp = "";
var last_timestamp_day = "";
var today = "";
$(function() {
	update_graph();
	// 毎分テーブルの更新をチェックする
	setInterval(update_graph, 60000);

	function update_graph() {
		$.ajax({
			type: 'GET',
			url: '/temps/<%= @device.id %>/latest?unit=10min',
			dataType: 'text'
		}).done(function(res) {
			if (last_timestamp != res) {
				var chart_latest = new Highcharts.Chart({
						chart: {
								renderTo: 'chart_latest',
								alignTicks: false,
								type: 'line'
						},
						title: {
								text: '直近7日間の気温(°C)と湿度(%)',
						},
						xAxis: {
								type: 'datetime'
						},
						yAxis: [{
								title: {
										text: ''
								},
								plotBands: [{
										from: <%= @temp_min %>,
										to: <%= @temp_max %>,
										color: 'rgba(22, 227, 147, 0.2)'
								}]
						}, {
							title: {
									text: ''
							},
							opposite: true
						}],
						tooltip: {
								crosshairs: true,
								shared: true
						},
						series: []
				});
				$.getJSON('../graph_data.json', <%= @t.html_safe %> ,function (data) {
					chart_latest.addSeries({
							name: "気温",
							color: Highcharts.getOptions().colors[3],
							marker: {enabled: false},
							showInLegend: true,
							data: data,
							yAxis: 0
					});
				});
				$.getJSON('../graph_data.json', <%= @h.html_safe %> ,function (data) {
						chart_latest.addSeries({
								name: "湿度",
								color: Highcharts.getOptions().colors[0],
								marker: {enabled: false},
								showInLegend: true,
								data: data,
								yAxis: 1
						});
				});
				last_timestamp = res;
			}
		}).fail(function(res) {
			console.log(res);
		});

		// 日次と月次のグラフは日付が変わってからデータのtime_stampが更新されるまでテーブルの更新チェックを行う
		if (today != get_today()){
			$.ajax({
				type: 'GET',
				url: '/temps/<%= @device.id %>/latest?unit=day',
				dataType: 'text'
			}).done(function(res) {
				console.log("day!");
				if (last_timestamp_day != res) {
					var chart_daily = new Highcharts.Chart({
						chart: {
								renderTo: 'chart_daily',
								alignTicks: false,
								type: 'spline'
						},
						title: {
								text: '日次の気温(°C)と湿度(%)',
						},
						xAxis: {
								type: 'datetime'
						},
						yAxis: [{
								title: {
										text: ''
								},
								plotBands: [{
										from: <%= @temp_min %>,
										to: <%= @temp_max %>,
										color: 'rgba(22, 227, 147, 0.2)'
								}]
						}, {
							title: {
									text: ''
							},
							opposite: true
						}],
						tooltip: {
								crosshairs: true,
								shared: true
						},
						legend: {
						},
						series: []
					});
					$.getJSON('../graph_data.json?unit=day&limit=-70%20day', <%= @t.html_safe %> ,function (data) {
						chart_daily.addSeries({
								name: "平均気温",
								color: Highcharts.getOptions().colors[3],
								data: data["avg"],
								yAxis: 0,
								zIndex: 2
						});
						chart_daily.addSeries({
								name: "高低",
								data: data["minmax"],
								type: 'arearange',
								lineWidth: 0,
								linkedTo: ':previous',
								color: Highcharts.getOptions().colors[3],
								fillOpacity: 0.3,
								yAxis: 0,
								zIndex: 0
						});
					});
					$.getJSON('../graph_data.json?unit=day&limit=-70%20day', <%= @h.html_safe %> ,function (data) {
						chart_daily.addSeries({
								name: "平均湿度",
								color: Highcharts.getOptions().colors[0],
								data: data["avg"],
								yAxis: 1,
								zIndex: 1
						});
					});

					var chart_monthly = new Highcharts.Chart({
						chart: {
								renderTo: 'chart_monthly',
								alignTicks: false,
								type: 'spline'
						},
						title: {
								text: '月次の気温(°C)と湿度(%)',
						},
						xAxis: {
								type: 'datetime'
						},
						yAxis: [{
								title: {
										text: ''
								},
								plotBands: [{
										from: <%= @temp_min %>,
										to: <%= @temp_max %>,
										color: 'rgba(22, 227, 147, 0.2)'
								}]
						}, {
							title: {
									text: ''
							},
							opposite: true
						}],
						tooltip: {
								crosshairs: true,
								shared: true
						},
						legend: {
						},
						series: []
					});

					$.getJSON('../graph_data.json?unit=month', <%= @t.html_safe %> ,function (data) {
						chart_monthly.addSeries({
								name: "平均気温",
								color: Highcharts.getOptions().colors[3],
								data: data["avg"],
								yAxis: 0,
								zIndex: 2
						});
						chart_monthly.addSeries({
								name: "高低",
								data: data["minmax"],
								type: 'arearange',
								lineWidth: 0,
								linkedTo: ':previous',
								color: Highcharts.getOptions().colors[3],
								fillOpacity: 0.3,
								yAxis: 0,
								zIndex: 0
						});
					});
					$.getJSON('../graph_data.json?unit=month', <%= @t.html_safe %> ,function (data) {
						chart_monthly.addSeries({
								name: "平均湿度",
								color: Highcharts.getOptions().colors[0],
								data: data["avg"],
								yAxis: 1,
								zIndex: 1
						});
					});
					last_timestamp_day = res;
					today = get_today();
				}
			}).fail(function(res) {
				console.log(res);
			});
		}
	}
});

function get_today() {
	var d = new Date();
	return d.getFullYear()+'/'+d.getMonth()+'/'+d.getDate();
}
</script>
