<% content_for :title, "最新の受信データ" %>
<% content_for :subtitle, (@device ? "ID: #{@device.id}" : "") %>

<button class="btn btn-success" onclick="location.reload()"><span class="glyphicon glyphicon-refresh"></span> 再読み込み</button>

<table class="table">
  <thead>
    <tr>
      <th>デバイスID</th>
      <th>日時</th>
      <th>気温</th>
      <th>気圧</th>
      <th>湿度</th>
      <th>照度</th>
      <th>電圧</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @temps.each do |temp| %>
      <tr>
        <td><%= temp.device_id %></td>
        <td><%= temp.dt %></td>
        <td><%= temp.temperature %></td>
        <td><%= temp.pressure %></td>
        <td><%= temp.humidity %></td>
        <td><%= temp.illuminance %></td>
        <td><%= temp.voltage %></td>
        <td><%= temp.created_at %></td>
        <td><%= temp.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
